<div class="table-padding">
	<h1>Customers</h1>
	<button class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModal">New</button>
	<div class="table-responsive">
	  	<table class="table table-striped table-bordered table-hover">
			<thead> 
				<tr> 
					<th>#</th> 
					<th>First Name</th>
					<th>Last Name</th>
					<th>Actions</th>
				</tr>
			</thead> 
			<tbody> 
				<tr ng-repeat="customer in customerCtrl.customers">
					<td>{{customer.id}}</td>
					<td>{{customer.firstName}}</td>
					<td>{{customer.lastName}}</td>
					<td><button class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal" ng-click="customerCtrl.getCustomer(customer.id)">Edit</button> <button class="btn btn-danger btn-sm" ng-click="customerCtrl.deleteCustomer(customer.id)">Delete</button></td>
				</tr>
			</tbody> 
		</table>
	</div>
	<div class="table-modal">
		<!-- Modal Create -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">Customer</h4>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label for="first-name-input">First Name</label>
							<input type="text" class="form-control" id="first-name-input" ng-model="customerCtrl.customer.firstName" placeholder="First Name">
						</div>
						<div class="form-group">
							<label for="last-name-input">Last Name</label>
							<input type="text" class="form-control" id="last-name-input" ng-model="customerCtrl.customer.lastName" placeholder="Last Name">
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary" ng-click="customerCtrl.createOrEditCustomer()">Confirm</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>